################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/UE4_Plugins
/Saved/Logs
/Intermediate
/Plugins/Developer/RiderLink/Intermediate
/Plugins/Developer/RiderLink/Binaries
/Plugins/StandaloneWidget/Intermediate
/Plugins/StandaloneWidget/Binaries
/Plugins/SunKey/Intermediate
/Plugins/SunKey/Binaries
/Plugins/UECharts/Intermediate
/Plugins/UECharts/Binaries
/Plugins/UnLua/Intermediate
/Plugins/UnLua/Binaries
/Binaries/Win64
/Saved
/Plugins/ElectronicNodes/Binaries/Win64
/Plugins/ElectronicNodes/Intermediate/Build/Win64/UE4Editor
/Plugins/HeatMap/Binaries/Win64
/Plugins/HeatMap/Intermediate/Build/Win64/UE4Editor
/Plugins/HttpLibrary/Binaries/Win64
/Plugins/HttpLibrary/Intermediate/Build
/Plugins/JsonLibrary/Intermediate/Build
/Plugins/JsonLibrary/Binaries/Win64
/Plugins/NodeGraphAssistant/Intermediate/Build
/Plugins/NodeGraphAssistant/Binaries
/Plugins/TextureRuntimeImporter/Intermediate/Build/Win64/UE4Editor
/Plugins/TextureRuntimeImporter/Binaries/Win64
/Plugins/WebCamera/Intermediate/Build
/Plugins/WebCamera/Binaries
/Plugins/WebUI/Intermediate/Build
/Plugins/WebUI/Binaries/Win64
/Plugins/VlcMedia-master/Build
